body{
text-align: left;
}
.imgBack {
    height: 180px;
    width: 100%;
    background-image: url("../img/logo.svg"),url("../img/pattern.png") ;
    background-color: rgb(78, 160,255);
    background-repeat:no-repeat,repeat;
    background-position:bottom left,center top;
    background-size: 100px 80px,auto;
  }

h1{
    font-size: 2.8rem;
}

a{
    color: #42b6e9;
    text-decoration: none;
}

.Autore-e-data{
    color: gray;
    font-weight: bold;
}

.Autore-e-data{
    color: gray;
    font-weight: bold;
}


.paragr1{
    margin: 20px 0;
}

.segnogiallo{
    background-color: yellow;
}

.paragr.ul {
    margin-left: 15px;
}
