body{
text-align: left;
}
.imgBack {
    height: 180px;
    width: 100%;
    background-image: url("../img/logo.svg"),url("../img/pattern.png") ;
    background-color: rgb(78, 160,255);
    background-repeat:no-repeat,repeat;
    background-position:bottom left,center top;
    background-size: 100px 80px,auto;
  }

h1{
    font-size: 2.8rem;
}

a{
    color: #42b6e9;
    text-decoration: none;
}

.Autore-e-data{
    color: gray;
    font-weight: bold;
}

.Autore-e-data{
    color: gray;
    font-weight: bold;
}


.paragr1{
    margin: 20px 0;
}

.segnogiallo{
    background-color: yellow;
}

.paragr.ul {
    margin-left: 15px;
}

th{
    background-color: #20a9e5;
    color: white;
}

.riga1{
    width: 25%;
}

.riga2{
    width: 50%;
}

.rigablu{
    background-color: #b1e5f2;
}
footer p{
    margin-top: 30px;
    color: grey;
    font-weight: bold;
    font-size: 1.2rem;
}

#foto1, #foto2{
    width: 270px;
    height: 208px;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px 0;
}

.Autore-e-data, .Descrizione-delle-2-foto{
    font-size: 0.7rem;
}

#foto1{
    background-image: url(../img/monitor.jpg);
}

#foto2{
    background-image: url(../img/graph.jpg);
}